.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.icon {
    color: rgba(255, 255, 255, 0.50) !important;
}

.ui.inverted.segment {
    background: #020202 !important;
}

.pusher {
    padding-left: 80px;
    height: 100vh;
}

aside {
    width: 80px;
    background: #000000;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    border-right: 1px solid #202124;
}

aside ul {
    padding: 20px;
}

aside li {
    list-style: none;
    margin: 5rem auto;
    text-align: center;
}

aside li a {
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
}

.small-menu {
    display: none !important;
}

.slider-for {
    width: 100%;
    height: 700px;
}

.relative {
    height: 700px;
    width: 100%;
}

.absolute {
    height: 700px;
    width: 100%;
}

.slider-for div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.search-bar {
    background-color:#141414;
}
.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, black 25%, transparent);
}

.movie-title {
    text-align: left;
    padding-left: 100px;
}

.absolute .box {
    margin-left: 25px;
    margin-top: 60px;
    width: 300px;
    height: 200px;
}

:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: #686868;
}

.main-container img {
    max-width: 100%;
}

.main-container h1 {
    color: #FFF;
    padding-top: 60px;
}

.main-container {
    padding: 50px;
    background: #141414 !important;
}

.box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.box a {
    transition: transform .3s;
}

.box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.box img {
    border-radius: 2px;
}
.not-found{
    object-fit:contain;
}

@media(max-width: 900px) {
    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
}

@media only screen and (max-width: 768px) {
    aside {
        width: 0 !important;
        display: none !important;
    }
    .small-menu {
        display: block !important;
    }
    .pusher {
        margin: 0;
        padding: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .ui.fixed.menu {
        display: none !important;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .slider-for {
        height: 350px;
    }
    .relative {
        height: 350px;
    }
    .absolute {
        height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
    .movie-title {
        padding-left: 10px;
    }
}

@media(max-width: 700px) {
    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
    .movie-title {
        padding-left: 5px;
    }
}

@media(max-width: 500px) {
    .wrapper {
        font-size: 15px;
    }
    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .box a:hover {
        transition: transform .3s;
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1.2);
    }
    .movie-title {
        padding-left: 0px;
    }
}